.select-wrapper {
}

.select-container {
  position: relative;
  width: 550px;
}

.select-container-disabled {
  pointer-events: none;
  background-color: lightgray;
  opacity: 0.5;
}
.select-options {
  z-index: 10;
  position: absolute;
  margin-top: 0.5rem;
  top: 100%;
  left: 0;
  width: 100%;
  background: #fff;
  border: 1px solid #ccc;
  border-top: none;
  max-height: 250px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  border-radius: 5px;
  overflow-y: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.select-option {
  display: flex;
  padding: 10px;
  cursor: pointer;
  align-items: flex-start;
}

.select-option-no-option {
  opacity: 0.3;
  align-self: center;
  pointer-events: none;
}

.select-option:hover {
  background: rgb(164, 236, 164);
}

.select-option.selected {
  background: rgb(66, 194, 66);
  color: #fff;
}

/* Control Box */
.select-control {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  min-height: 30px;
}

.select-control-focus {
  border: 1px solid green;
}

.select-title {
  opacity: 0.3;
  position: absolute;
}

.select-search {
  color: inherit;
  background: 0px center;
  opacity: 1;
  width: 100%;
  grid-area: 1 / 2 / auto / auto;
  font: inherit;
  min-width: 2px;
  max-width: 100px;
  border: 0px;
  margin: 0px;
  outline: 0px;
  padding: 0px;
  z-index: 20;
  position: relative;
}

.selected-option-value {
  background: yellowgreen;
  color: whitesmoke;
  padding: 2px 5px;
  margin: 2px;
  border-radius: 5px;
  position: relative;
}
.selected-option-value-multiple {
  padding: 2px 0 2px 5px;
}

.selected-option-value .remove-option {
  border-radius: 2px;
  padding-left: 4px;
  padding-right: 4px;
  box-sizing: border-box;
}

.selected-option-value .remove-option:hover {
  background-color: lightcoral;
}

.selected-options-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.select-arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid gray;
  opacity: 0.3;
}

.select-arrow-down:hover {
  opacity: 1;
}

.select-clear {
  opacity: 0.3;
}

.select-clear:hover {
  opacity: 1;
}

.select-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
